
.celerity-team-member {
	.celerity-panel-footer {
		padding: 5px 30px 20px;
	}
}

.celerity-team-member-profile {
	width: 50%;
	background: #ebebeb;
	padding-bottom: 50%;	// for older browser support
	padding-bottom: calc(50% - 4px);
	margin:  0 auto 15px;
	border: 2px solid $color-green;
	border-radius: 100%;
}

.celerity-team-member-name {
	 color: $color-purple;
	 font-size: 1.1em;
}
