
.celerity-custom-section-link {
	.fa {
		font-size: 1.8em;
		margin-right: 8px;
	}
}

.celerity-custom-learn-more-link {
	color: $color-purple;
	font-weight: 800;
	text-decoration: underline;
}

.celerity-custom-button-close {
	background: transparent;
	border: 0 none;
	padding: 0;
	font-weight: 300;
	margin-left: 20px;
}
