// setup some color variables for theming purposes
$color-black: #333333 !default;
$color-grey: #787878 !default;
$color-lightpurple: #6b3052 !default;
$color-purple: #5c2946 !default;
$color-darkpurple: #4a2138 !default;
$color-green: #b2ba1c !default;
$color-lightgreen: #8dc43f !default;
$color-green-desaturated: #d6d986 !default;

// colors specific for certain elements
$color-background: #f0f0f0;
